<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenyu.kaijiw"
   android:versionCode="135"
    android:versionName="1.3.5" >


    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />
     <!-- 允许程序打开网络套接字权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 保持屏幕常亮所需权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 读取手机联系人信息所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 向SD卡写入文件所需权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 读取SD卡状态所需权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 读取或更改系统设置 所需权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 手机震动所需权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 创建和删除文件所需权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 查询网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 调用系统窗口所需权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 清除缓存 -->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" /> 

    <!-- 用户定位所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 相机的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 允许程序修改全局音频设置 比如说：存储位置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 录制语音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <application
         android:name="com.baoyz.swipemenulistview.BaoyzApplication"
        android:allowBackup="true"
        android:icon="@drawable/cover"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
            <activity
            android:name="imsdk.activity.CSChatActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="imsdk" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.wenyu.kaijiw.DaoHang"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wenyu.kaijiw.IMChatActivitys"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name="com.wenyu.kaijiw.ExpandableListAdd"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.wenyu.kaijiw.ExpandableListAddDetail"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.wenyu.kaijiw.PublishStudioAdd"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.wenyu.kaijiw.PublishlistissueAdd"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name="com.wenyu.kaijiw.PersonInfoUpdateActivityPublishisue"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.wenyu.kaijiw.PersonInfoUpdateActivityPublish"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.wenyu.kaijiw.PublistStudio"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.wenyu.kaijiw.ExpandableList"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.wenyu.kaijiw.Publistissue"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".splashScreen"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ShootActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="MyMapActivity"
            android:screenOrientation="portrait" />
         <activity
            android:name="MyNavigationActivity"
            android:screenOrientation="portrait" />
        
         <activity
            android:name="PictureActivity"
            android:screenOrientation="portrait" />
       
        <activity
            android:name="Homesceneactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="EquipsProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="StroresDetail"
            android:screenOrientation="portrait" />
         <activity
            android:name="Home_SurroundActivity"
            android:screenOrientation="portrait" />
        
        <activity
            android:name=".FindTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindThree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindTwoFouractivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindFouractivity"
            android:screenOrientation="portrait" />
         <activity
            android:name=".FindYingCompanyItemActivity"
            android:screenOrientation="portrait" />
          <activity
            android:name=".FindFilmCompanyDetail"
            android:screenOrientation="portrait" />
           <activity
            android:name=".PublishSssueAdd"
            android:screenOrientation="portrait" />
         
        <activity
            android:name=".Nearby"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LightNearby"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EquipsNearby"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EquipsDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindTwocompany"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindTwoMake"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindTwoXuan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArtSchool"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindTwoAlliance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindTwoProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fiming"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuxiliaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JzInforactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rentalequipactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RentalSiteactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MypersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Release"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EquipsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SimilarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShootNearby"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductLiseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Findfilmcompany"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Findfilmproject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Findfilmpeople"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Findproduction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Findissuepublicity"
            android:screenOrientation="portrait" />
        <activity
            android:name="RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="PersonCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="CompanyTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="CompanyCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="FirstPositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="SecondPositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="CompanyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ImageGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImagePagerActivity"
            android:screenOrientation="portrait" />
     <activity
            android:name=".IMChatActivity"
           android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity 
            android:name=".ContactsActivity"
            android:screenOrientation="portrait"/>
                <activity 
            android:name=".SettingActivity"
            android:screenOrientation="portrait"/>
                       <activity 
            android:name=".AboutActivity"
            android:screenOrientation="portrait"/>         
                                   <activity 
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait"/> 
                            <activity 
            android:name=".ResetPwdActivity"
            android:screenOrientation="portrait"/>       
                                <activity 
            android:name=".EnsurePwdActivity"
            android:screenOrientation="portrait"/>   
                                            <activity 
            android:name=".PersonInfoUpdateActivity"
            android:screenOrientation="portrait"/>   
           <activity 
            android:name=".NotifyActivity"
            android:screenOrientation="portrait"/>  
               <activity 
            android:name=".AccountActivity"
            android:screenOrientation="portrait"/>    
               <activity 
            android:name=".PrivacyActivity"
            android:screenOrientation="portrait"/> 
                      <activity 
            android:name=".AgreementActivity"
            android:screenOrientation="portrait"/>   
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="552cb8bbfd98c5aaef000cce" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="D8sb5GnIfdY6GTQoQ8CAEy8s" />

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.renn.rennsdk.oauth.OAuthActivity"
            android:configChanges="orientation|navigation|keyboardHidden" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

</manifest>
